//imports
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');
@import url(media.css);
// custom properties

html{
--blue1: #00e6fd;
--blue2: #20c2ff;
--blue3: #0085d3;
--white: #cbe8f3;
--black: #003e55;
--orange: #f59f00;
box-sizing:border-box;
--h-size: 4rem;
--h-fit: calc(var(--h-size)*.9);
--h-loco: calc(var(--h-size)*.6);
scroll-behavior: smooth;
}

// global

.container{
    max-width: 100%;
}

body{
    background-color: var(--white);
    height: 100%;
    width: 100%;
}

a{
    color: var(--orange);
    text-decoration: none;
}

p{cursor: default;}

h2{font-size: 2.5rem;}
h3{font-size: 2rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1rem;}

// header

header{
    background-color:var(--blue3);
    border-bottom: solid 2px var(--black); 
    height: var(--h-size);
    position: fixed;
    width: 100%;
    z-index:9999;
    .progress{
        width:100%;
        height:6px;
        .progress-info{
            height:6px;
            background-color: var(--orange);
            width:0;
        }
    }
    .header-container{
        display:flex;
        justify-content: space-between;
        .logo{
            height: var(--h-fit);
            margin-left: .2rem;
        }
        .location{
            background-color: var(--white);
            border-radius: 1rem;
            border: solid 4px var(--black);
            font-family: 'Trebuchet MS', sans-serif;
            font-size: calc(var(--h-fit)*.5);
            font-weight: 700;
            height: var(--h-loco);
            line-height: var(--h-loco);
            margin-top: .4rem;
            overflow:hidden;
            padding: 0 .5rem;
            .location-list{
                list-style: none;
                transition:transform .5s ease-out;
                .top-list{
                    display:flex;
                    justify-content: center;
                    filter: brightness(.85);
                }
                .s {color:red;}
                .b {color: orange;}
                .m {color: greenyellow;}
                .g {color: blue;}
                .c {color: purple;}
            }
        }
        .menu-icon{
            margin-top: .5rem;
            height: var(--h-loco);
            margin-right: 1em;
            &:active{
                filter: brightness(1.4);
            }
        }
        
    }
    .sidebar{
        background-color: var(--black);
        border-radius: 0 0 0 0.9em;
        color: var(--blue3);
        display:grid;
        flex-wrap: wrap;
        font-family: 'Raleway';
        font-size: 3rem;
        justify-content: stretch;
        line-height: 1.5em;
        list-style: none;
        margin-left: 105%;
        overflow:hidden;
        position:fixed;
        top: var(--h-size);
        transition: transform .5s cubic-bezier(.63,.43,.4,1.25);
        width: 500px;
        filter: drop-shadow(0 4px 4px black);
        .nav{
            color: var(--orange);
            cursor: pointer;
            display: inline-block;
            padding-left: 2rem;
            padding-right: 5rem;
            transition: background-color .3s ease-out;
            width: 100%;
            &:hover{
                background-color: var(--blue3);
            }
        }
    }
}

.menu-active{
    transform: translateX(-22rem) !important;
}

// main

main{
    padding-top: var(--h-size);
    display:grid;
    grid-template-areas: "promo-search""board""media""goals""customer";
    .search{
        grid-area:promo-search;
        background-image: url(../pics/surfing-background.jpg);
        background-position:50% 30%;
        background-size: cover;
        background-repeat: no-repeat;
        display:grid;
        justify-content: center;
        height: 900px;
        .heading-wrapper{
            .heading{
                background-color: #1ca1d162;
                border-radius: 0 1em 0 1em;
                border: solid 3px var(--black);
                color: var(--orange);
                font-family:'Raleway', sans-serif;
                font-size: 2.5rem;
                font-weight: 700;
                margin: .5em;
                max-width: max-content;
                padding: .5rem 1.4rem;
                text-align: center;
                width: 60vw;
            }
        }
        .promo-search{
            display:flex;
            justify-content: center;
            input{
                border-radius: 1rem;
                padding-left: .5rem;
                border: solid 3px var(--orange);
                background-color: var(--white);
                font-weight: 900;
                font-size: 1.2rem;
                font-family: 'raleway';
                height: 2.5rem;
                width: 40vw;
                max-width: 20em;
            }
            button{
                border-radius: 1rem;
                height: 3rem;
                margin-left: 5px;
                border: solid 3px var(--orange);
                background-color: var(--blue2);
                transition: background-color .2s ease-out;
                cursor: pointer;
                &:hover{
                    background-color: var(--blue1);
                }
                &:active{
                    filter:hue-rotate(205deg);
                }
                img{
                    height: 2rem;
                }
            }
        }
    }
    .board{
        margin: 1em 1em;
        .board-selector{
            margin-top: 5px;
            background-color: var(--blue3);
            cursor: pointer;
            display:flex;
            justify-content: space-between;
            position:sticky;
            top: calc(var(--h-size) + 2px);
            z-index: 9998;
            .tab{
                flex-grow:1;
                text-align:center;
                padding: 1em;
                width: 33.33%;
                font-family: "raleway";
                position: relative;
                background-color: var(--blue3);
                transition: filter .2s ease-out;
                &::before{
                    content:'';
                    background-color:black;
                    width: 40%;
                    left: 30%;
                    height: 1px;
                    position:absolute;
                    top: 70%;
                    transform:scaleX(0);
                    transition:transform .2s ease-out;
                }
                &:hover::before{
                    transform: scaleX(1);
                }
                &:hover{
                    filter:brightness(1.5);
                }
            }
            .bg-active{background-color: rgb(255, 28, 104);}
        }

        // Displays the boards grid
        .board-screen{
            .board-grid{
                display:none;
                opacity: 0;
                transition: opacity .5s linear;
            }
            .here{
                display:grid !important;
                grid-template-columns: repeat(auto-fill (100px, 1fr));
                gap: 0.2rem;
                opacity: 1;
            }
        }
        .board-item{
            background-color: white;
            overflow:hidden;
            div{
                display:flex;
                height:100%;
                justify-content:center;
                width:100%;
                cursor: pointer;
                &:hover img{
                    transform:scale(1);
                }
                img{
                    transition:transform .5s ease-in-out;
                    transform:scale(.9);
                    max-width: 300px;
                    width: 40vw;
                }
            }
        }
    }
    .media{
        display:flex;
        grid-area: media;
        justify-content: space-around;
        margin-left: 10%;
        position:relative;
        width: 80%;
        .arrow-wrapper{
            display:flex;
            flex-direction:column;
            justify-content: center;
            position:relative;
            .arrow-anchor{
                display:flex;
                justify-content:center;
                margin: 5px;
                padding:5px;
                .arrow{
                    border: solid 2px rgba(255, 255, 255, 0);
                    width: 3vw;
                    &:hover{
                        border: solid 2px var(--orange); 
                    }
                }
                .face-right{
                    transform: rotate(180deg);
                }
            }
        }
        .media-frame{
            justify-self: center;
            padding-top: 46%;
            position:relative;
            width: 90%;
            .frame1{
                border-radius: 2em;
                border: solid 3px var(--black);
                bottom:0;
                height:100%;
                left:0;
                position:absolute;
                right:0;
                top:0;
                width:99.5%;
            }
        }
    }
    .goals{
        background-image: url(../pics/surfshop.jpg);
        background-size: cover;
        border-bottom: solid 3px var(--black);
        border-top: solid 3px var(--black);
        color: rgb(255, 255, 255);
        display:flex;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600; 
        grid-area: goals;
        justify-content: center;
        margin: 2em 0;
        .goals-contain{
            display:flex;
            flex-direction: column;
            justify-content: center;
            margin: 2em;
            max-width: 1000px;
            min-height: 80vh;
            .goals-wrapper{
                background-color: rgba(26, 26, 26, 0.507);
                cursor: default;
                border-radius: 4rem;
                border: 1px solid rgba(146, 146, 146, 0.507);
                filter: drop-shadow(0 0 3px rgba(165, 165, 165, 0.507));
                h2{
                    display:flex;
                    justify-content: center;
                    padding-top: .5em;
                    text-align:center;
                    text-transform: uppercase;
                }
                h4{
                    line-height: 1.5em;
                    padding: .7em;
                    position: relative;
                    text-align:center;
                    &::before{
                        background-color: rgb(255, 255, 255);
                        content:'';
                        height: 2px;
                        left: 25%;
                        position: absolute;
                        top: .5em;
                        width: 50%;
                    }
                }
            }
        }
    }
    .customer{
        grid-area:customer;
        .customer-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            width:100%;
            a:hover h3{
                color: var(--orange);
            }
            .customer-option{
                border-radius: 1em;
                border: solid 4px var(--black);
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                margin: 1em;
                overflow: hidden;
                h3{
                    background-color: var(--blue3);
                    border-bottom: solid 3px var(--black);
                    color: var(--black);
                    letter-spacing: .2em;
                    padding: .4em;
                    text-align:center;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: color .2s ease-out;
                }
                h5{
                    background-color: var(--blue2);
                    color: var(--black);
                    line-height: 1.5em;
                    padding: .5em;
                }
            }
        }
    }
}


// footer

footer{
    grid-area:footer;
    background-color: var(--black);
    border: solid 5px var(--black);
    p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2rem;
        max-width: 70%;
    }
}
.social{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
    padding: .5rem;
    width: 90vw;
    a .fa-facebook-square {
        filter: brightness(0);
        transition-property: filter, transform;
        transition-duration: .2s, .2s;
        transition-timing-function: ease-out, ease-out;
        &:hover {
            filter: brightness(1);
            transform: scale(1.1);
        }
    }   
    a .fa-linkedin {
        filter: brightness(0);
        transition-property: filter, transform;
        transition-duration: .2s, .2s;
        transition-timing-function: ease-out, ease-out;
        &:hover {
            filter: brightness(1);
            transform: scale(1.1);
        }
    }
    a .fa-github-square {
        filter: invert(0%);
        transition-property: filter, transform;
        transition-duration: .2s, .2s;
        transition-timing-function: ease-out, ease-out;
        &:hover {
            filter: invert(40%);
            transform: scale(1.2);
        }
    }
    a .fa-envelope {
        filter: invert(0%);
        transition-property: filter, transform;
        transition-duration: .2s, .2s;
        transition-timing-function: ease-out, ease-out;
        &:hover {
            filter: invert(40%);
            transform: scale(1.2);
        }
    }
    .pic{
        width: 50px;
        height: 50px;
    }
}

.help{
    background-color: var(--orange);
    border-radius: 1rem;
    border: solid 2px black;
    bottom: 1rem;
    color:black;
    font-family: helvetica;
    font-size: 2rem;
    font-weight: 700;
    padding: 2px .5rem;
    position: fixed;
    right: 1rem;
    transition:background-color .2s ease-in;
    z-index: 10000;
    &:hover{
        background-color: rgb(255, 217, 0);
        cursor: pointer;
    }
}


// Media Queries

@media only screen and (min-width: 500px) {
    h2{font-size: 2.5rem;}
    h3{font-size: 2rem;}
    h4{font-size: 1.5rem;}
    h5{font-size: 1rem;}
}
@media only screen and (min-width: 800px) {
    h2{font-size: 3rem;}
    h3{font-size: 2.5rem;}
    h4{font-size: 2rem;}
    h5{font-size: 1.5rem;}
}
